/*Colors on picture:
   green: B1CB74
   red:   D3667E
   red2:  DFBEBF
   blue:  BCD9DF
   green2:C0DEBA
   yellow:E9DEA7
   grey:  EDECEA
   */

section#forms_template{
   border-bottom: 1em solid #edecea8e;
}

/* form */
section#forms_template form {
   margin-top: 0.5em;
   margin-left: 0.5em;
   font-size: 12px;

}

section#forms_template form p{
   margin-bottom: 1em;
}

#valid_check{
   margin-left: 1.8em;
   height: 1em;
   border-radius: 0px;
}

#return_error{
   margin-left: 1.6em;
   height: 1em;
   border-radius: 0px;
}

section#forms_template form img{
   margin-left: 0.5em;
}

.green{
   color: #719914;
}

.red{
   color: #b12241;
}

section#forms_template form span{
   margin-left: 2px;
}

section#forms_template select{
   margin-left: 5em;
   background-color: white;
   width: 12em;
   font-size: 12px;
}

section#forms_template button#button_b{
   margin-left: 2.5em;

}

section#forms_template button{
   font-size: 12px;
   border-radius: 2px;
   padding-left: 0.5em;
   padding-right: 0.5em;
   background-color: rgb(245, 243, 243);
}

.resize_box{
   margin-left: 7em;
   margin-bottom: 2em;
   height: 75px;
   width: 400px;
   resize:both;
   overflow:hidden;

}

#Comments{
   width:100%;
   height:100%;
   text-align: top;
}

#msg{
   font-size: 12px;

}

#msg img{
   width:20px;
}

#white_msg{
   background-color: white;
   border-radius: 4px;
   margin: 0.5em 0.5em 0.5em 0.5em;
}
#red_msg{
   background-color: #DFBEBF;
   border-radius: 4px;
   color: #b12241;
   margin: 0em 0.5em 0.5em 0.5em;
}

#blue_msg{
   background-color: #BCD9DF;
   border-radius: 4px;
   color: #085868;
   margin: 0em 0.5em 0.5em 0.5em;
}
#green_msg{
   background-color: #C0DEBA;
   border-radius: 4px;
   color: #135806;
   margin: 0em 0.5em 0.5em 0.5em;
}
#yellow_msg{
   background-color: #E9DEA7;
   border-radius: 4px;
   color: #635201;
   margin: 0em 0.5em 0.5em 0.5em;
}